	  body{
	  color:darkviolet;
	font-family:"Comic Sans MS", "Verdana", sans-serif;
		  font-weight:bold;
    }
	  .center{
      text-align:center;
	  }
    .home{
      margin:auto;
	width:450px;    
	}
    .info{
      height:400px;
      width:400px;
      overflow:auto;
    }
	  .click{
	  float:left;
		width:100px;  
	  }
	  .link{
	  font-weight:bold;
	  }
        .recipes{
      height:100px;
      width:250px;
      overflow:auto;
    }
    #titles-and-list{
    	    width:250px;
	    float:left;
	    color:black;
    }
.boxed{
border:3px dashed purple;
}
img{
-webkit-transform:rotate(90deg);

}
.img{
height:400px;
	overflow:auto;
}
li{
font-family:"Verdana",sans-serif;
}
p{
font-family:"verdana",sans-serif;
}
