	  body{
	  color:darkviolet;
		  font-family:sans-serif,monospace;
    }
	  .center{
      text-align:center;
	  }
    .home{
      margin:auto;
	width:450px;    
	}
    .info{
      height:700px;
      width:400px;
      overflow:auto;
    }
	  .click{
	  float:left;
		width:100px;  
	  }
	  .link{
	  font-weight:bold;
	  }
        .recipes{
      height:100px;
      width:200px;
      overflow:auto;
    }
    #titles-and-list{
    	    width:200px;
	    float:left;
	    color:black;
    }
.boxed{
border:3px dashed gray;
}
